$primaryLight: #f4f4f3;
$primaryDark: #121113;

$screen-md: 610px;
$screen-lg: 1115px;

$highlightOne: #004da2;
$highlightTwo: #10820f;
$highlightThree: #f37684;

$shadow: 0 4px 8px 0 RGB(0 0 0/5%), 0 6px 20px 0 RGB(0 0 0/14%);
$shadowLight: 0 4px 8px 0 RGB(0 0 0/3%), 0 6px 20px 0 RGB(0 0 0/2%);
$shadowInset: inset 0px 0px 33px -7px rgba(18, 17, 19, 0.73);

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
$paytone: "Paytone One", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,400&display=swap");
$poppins: "Poppins", sans-serif;

/* MIXINS */
@mixin screen-md {
    @media only screen and (min-width: $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (min-width: $screen-lg) {
        @content;
    }
}

@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    font-size: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    scroll-behavior: smooth;
    background-color: $primaryLight;
    position: relative;
    box-sizing: border-box;
    font-family: $poppins;
}

h2 {
    font-weight: 0;
}

a {
    cursor: pointer;
    color: $primaryDark;
    text-decoration: none;
}

a:hover,
a:focus {
    font-weight: bold;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid $primaryLight;
}

td,
th {
    border: 1px solid $primaryLight;
    padding: 5px;
}

.container {
    height: 100%;
}

// FORM STYLES
.form-title {
    margin-bottom: 25px;
    font-size: 1.5rem;
}

.form-in {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-label {
    box-sizing: border-box;
    padding-bottom: 10px;
    color: $primaryDark;
    border-radius: 4px;
}

.form-control {
    box-sizing: border-box;
    color: $primaryDark;
    border: none;
    line-height: 2rem;
    width: 100%;
    border: solid 2px $primaryDark;
    border-radius: 4px;
}

.alert,
.error-feedback {
    box-sizing: border-box;
    background: $primaryDark;
    color: $primaryLight;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
    text-align: left;
}

.form-submit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    background-color: $primaryDark;
    color: $primaryLight;
    border-radius: 10px;
    font-size: 1rem;
    border: thin solid $primaryDark;
    line-height: 2rem;
    margin-bottom: 20px;
    padding: 0 3px 0 3px;
    width: fit-content;
    cursor: pointer;
}

.button:hover {
    box-shadow: $shadowLight;
}

.labelButton {
    border: $highlightOne 1px solid;
    color: $primaryDark;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

.labelButton:hover {
    box-shadow: $shadowLight;
}

.labelButton {
    border: $highlightOne 1px solid;
    color: $primaryDark;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.removeButton {
    margin: 0;
    padding: 0 4px;
    border: 2px solid $highlightThree;
    font-size: 0.9em;
    background: none;
    border-radius: 20px;
    color: $highlightThree;
    font-weight: bold;
    line-height: 1.8rem;
}

.addButton {
    margin: 0;
    padding: 0 4px;
    border: 2px solid $highlightTwo;
    font-size: 0.9em;
    background: none;
    border-radius: 20px;
    color: $highlightTwo;
    font-weight: bold;
    line-height: 1.8rem;
}

.nmtrail-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 3rem;
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 1.1rem;
    color: $primaryDark;
    font-family: $paytone;
}

.modalBackground {
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.card {
    color: $primaryDark;
    text-align: center;
    padding: 15px;
    border-radius: 4px;
    box-shadow: $shadowLight;
    margin: 10px;
    min-height: 20rem;
}
